{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Fiyat Radar{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg py-1">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="{% url 'home' %}">Fiyat Radar</a>

            <form action="{% url 'search_products' %}" method="GET" class="d-flex w-33">
                <input name="q" class="form-control rounded-pill ms-4 py-1 my-2" type="search"
                    placeholder="Search products" aria-label="Search" value="{{ query|default:'' }}">
                <button class="btn btn-outline-light ms-2 rounded-pill  py-0 my-2 btn-sm " type="submit">Search</button>
            </form>

            <ul class="navbar-nav ms-auto align-items-center">

                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="btn btn-outline-light ms-3 rounded-pill px-1 py-0 me-4" href="{% url 'user_profile' %}">My
                        Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white me-3" href="{% url 'all_products' %}">All products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white me-3" href="{% url 'store_list' %}">Our Partner Stores</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white me-3" href="{% url 'dashboard' %}">My alerts</a>
                </li>

                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link text-white me-3 px-1 py-0">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary me-3 px-1 py-0" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light me-3 px-1 py-0"  href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>


        </div>
    </nav>

    <main class="main mb-5">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <a href="{% url 'home' %}" class="ms-3">Fiyat Radar</a>
            <a href="{% url 'about' %}" class="me-3">About Us</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'all_products' %}" class="ms-3">All Products</a>
            <a href="{% url 'store_list' %}" class="me-3">Stores</a>
            
        </div>



        <div class="container">
            <p class="mb-0">&copy; 2025 Fiyat Radar. All rights reserved.</p>
        </div>
</body>

</html>