{% extends 'base.html' %}

{% block content %}


<div class="mx-auto my-4 text-center shadow-lg" style="width: 600px; ">
    <h4>I have a problem here</h4>
    <span>😭😭😭😭</span>
</div>
<div>
    <div class="row mb-5 text-center text-muted">
        <div class="col">
            <h3 class="fw-bold">
                {% if query %}

                        {% if query in products %}
                                Results for "{{ query }}"
                            {% else %}
                                We found no products matching your search. </br>
                                Please check and try again.
                        {% endif %}

                {% else %}
                     Please check and try again.
                {% endif %}
                
            </h3>
        </div>
    </div>
    <ul>
        {% for product in products %}

       <div class="col">
            <div class="card shadow-sm border-1">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top p-3" alt="{{ product.name }}"
                    style="height: 200px; object-fit: contain;">
                {% elif product.image_url %}
                <img src="{{ product.image_url }}" class="card-img-top p-3" alt="{{ product.name }}"
                    style="height: 200px; object-fit: contain;">
                {% else %}
                <img src="https://via.placeholder.com/200x200?text=No+image" class="card-img-top p-3"
                    alt="No image">
                {% endif %}

                <div class="card-body">
                    <span class="badge bg-dark text-white mb-2">{{ product.category }}</span>
                    <h5 class="card-title text-dark">{{ product.name }}</h5>
                    <p class="card-text text-secondary small">{{ product.description|truncatewords:15 }}</p>
                </div>
                <div class="card-footer bg-white border-0 pb-3">
                    <div class="d-grid">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-primary btn-sm">
                            Check prices</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>

</div>
{% endblock %}